:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  

  /* Colors! */
  --theme-color : #0c8405;
  --shadow : #0000004a;

  --off-black: #333333;
  --white: #ffffff;

  /* Value 1 */
  --v1-bg: #f2f2f2;
  /* Light gray */
  --v1-fg: var(--off-black);
  --v1-border: var(--off-black);

  /* Value 2 */
  --v2-bg: #acacac;
  /* gray */
  --v2-fg: var(--off-black);
  --v2-border: #b0b0b0;

  /* Value 3 */
  --v3-bg: #9fced9;
  /* Light blue */
  --v3-fg: var(--off-black);
  --v3-border: #174e97;

  /* Value 4 */
  --v4-bg: #1986e5;
  /* Blue */
  --v4-fg: var(--white);
  --v4-border: #FFA500;

  /* Value 5 */
  --v5-bg: #FFA500;
  /* Orange */
  --v5-fg: var(--off-black);
  --v5-border: #FF7F00;

  /* Value 6 */
  --v6-bg: #FF7F00;
  /* Darker Orange */
  --v6-fg: var(--off-black);
  --v6-border: #FF6600;

  /* Value 7 */
  --v7-bg: #FF6347;
  /* Tomato */
  --v7-fg: var(--white);
  --v7-border: #FF4500;

  /* Value 8 */
  --v8-bg: #FF4500;
  /* Darker Red-Orange */
  --v8-fg: var(--white);
  --v8-border: #FF3300;

  /* Value 9 */
  --v9-bg: #FF0000;
  /* Red */
  --v9-fg: var(--white);
  --v9-border: #CC0000;

  /* Value 10 */
  --v10-bg: #FFD700;
  /* Gold */
  --v10-fg: var(--white);
  --v10-border: #FFA500;
}

button {
  background-color: var(--white);
  color: var(--off-black);
  border-radius: 8px;
  padding: 16px;
  font-family: inherit;
  font-size: 1.15rem;
}

button:hover {
  filter : drop-shadow(2px 2px var(--shadow))
}

/* New color theme */
:root {
   /* Colors! */
  --theme-color : #403D39;
  --shadow : #0000004a;
  --off-black: #333333;
  --white: #ffffff;

  /* Value 1 */
  --v1-bg: #effaf2;
  /* Light gray */
  --v1-fg: var(--off-black);
  --v1-border: var(--off-black);

  /* Value 2 */
  --v2-bg: #c1edcc;
  /* gray */
  --v2-fg: var(--off-black);
  --v2-border: #1c5f2c;

  /* Value 3 */
  --v3-bg: #b5f8fe;
  /* Light blue */
  --v3-fg: var(--off-black);
  --v3-border: #026F79;

  /* Value 4 */
  --v4-bg: #f3c1c1;
  /* Blue */
  --v4-fg: var(--off-black);
  --v4-border: var(--off-black);

  
  /* Value 5 */
  --v5-bg: #f4a4a4;  
  --v5-fg: var(--off-black);
  --v5-border: #6D0D0D;

  /* Value 6 */
  --v6-bg: #face82;
  /* Orange */
  --v6-fg: var(--off-black);
  --v6-border: rgba(244, 235, 214, 0.646);

  /* Value 7 */
  --v7-bg: var(--vg-bg);
  /* Tomato */
  --v7-fg: var(--vg-fg);
  --v7-border: var(--vg-border);
  
  /* Value 8 */
  --v8-bg: #f1a625;
  --v8-fg: white;
  --v8-border: #B2730633;  

  /* Value 9 */
  --v9-bg: var(--v9-bg);
  /* Darker Red-Orange */
  --v9-fg: var(--v9-fg);
  --v9-border: var(--v9-border);

  /* Value 10 */
  --v10-bg: #F72C25;
  --v10-fg: #FFF0EB;
  --v10-border: #280a0077;
}